@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
  --link: #0a63d8;
  --link-hover: #1a73e8;

  --background-r: 255;
  --background-g: 255;
  --background-b: 255;

  --foreground-r: 26;
  --foreground-g: 26;
  --foreground-b: 26;
  
  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  color-scheme: light;
}

html.dark {
  --background: #1a1a1a;
  --foreground: #ededed;
  --link: #7aa4e8;
  --link-hover: #8ab4f8;

  --background-r: 26;
  --background-g: 26;
  --background-b: 26;

  --foreground-r: 237;
  --foreground-g: 237;
  --foreground-b: 237;
  
  --text-primary: #ededed;
  --text-secondary: #999;

  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;
  --button-secondary-border: #1a1a1a;

  color-scheme: dark;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 0.75rem 1.25rem;
  height: 3.5rem;
  box-sizing: border-box;
  background-color: rgba(
    var(--background-r),
    var(--background-g),
    var(--background-b),
    0.8
  );
  backdrop-filter: blur(3px);
  top: 0;
  left: 0;
  z-index: 1000;
}

.contents {
  padding-top: 4.5rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.options {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--foreground);
}

.options button {
  background: rgba(
      var(--foreground-r),
      var(--foreground-g),
      var(--foreground-b),
      0.2
    );
  border: 1px solid var(--foreground);
  border-radius: 50%;
  backdrop-filter: blur(3px);
  cursor: pointer;
  padding: 0.5rem;
}

.options .icon {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.75;
  transition: all 0.3s ease-in-out
}

.footer {
  text-align: center;
  padding: 1.5rem 1.25rem;
  font-size: 0.9rem;
  color: var(--foreground);
  opacity: 0.75;
}

nav {
  width: 100%;
  max-width: 1200px;
}

nav ul {
  display: flex;
  width: 100%;
  padding: 0;
  list-style: none;
  gap: 1.5rem;
  align-items: center;
  font-size: 1.2rem;
}

nav ul li.right {
  margin-left: auto;
}

nav ul li a {
  color: var(--foreground);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

.title {
  font-family: 'Orbitron', 'codespace', serif;
  font-weight: bold;
  font-size: 1.35rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.title:hover {
  color: var(--foreground);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
